
.home-container {
    display: flex;
    flex-direction: row;
    gap: 80px;
    padding: 20px;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
}
.home-left {
    font-size: 2rem;
    font-weight: bold;
    padding-left: 50px;
    width: 50%; 
    max-width: 50%;
    text-align: center;
}
.home-left p{
    font-size: 17px;
    color: #4d4d4d;
    margin-bottom: 40px;
}
.home-left h2{
    margin-top: -20px;
}
.home-btn{
    padding:15px 25px;
    background-color: #02345a;
    border-radius: 2px;
    border-style: none;
    font-size: 20px;
    cursor: pointer;
    color: aliceblue;
}
.home-right {
    width: 60%; 
    max-width: 60%;
    overflow: hidden;
    margin-right: 30px;
}


.swiper-slide img,
.slick-slide img {
    max-width: 100%;
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.swiper-button-next,
.swiper-button-prev {
    color: #555;
    transform: scale(0);    
}
.swiper-pagination {
    display: none !important;
  }
  
.swiper-pagination-bullet-active {
    background: #343b43;
}

.slick-dots li button:before {
    color: #aaa;
    font-size: 15px;
}

.slick-dots li.slick-active button:before {
    color: #040404;
}

@media (max-width: 768px) {
    .home-container {
        flex-direction: column;
        gap: 30px;
    }

    .home-left {
        text-align: center;
    }

    .home-right {
        width: 90%;
    }
}
