.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 200px;
    margin-top: 50px;
}
.footer-start{
    max-width: 400px;
    line-height: 4cqb;
}
.footer-center{
    line-height: 4.5cqb;
}
.footer-end{
    line-height: 4.5cqb;
}
.footer-main h4{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 30px;
}